/* CSS Reset */
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Elements Style */
html {
    /* COLORS */
    /* Primary */
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%); /* graphic design text */
    --dark-blue: hsl(198, 62%, 26%); /* photography text */
    --dark-moderate-cyan: hsl(168, 34%, 41%); /* footer */
    /* Neutral */
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);

    /* FONTS */
    /* Fonts */
    --barlow: "Barlow";
    --fraunces: "Fraunces";
    /* Font weights */
    --semiBold: 600;
    --bold: 700;
    --bolder: 900;
}

body {
    min-width: 375px;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

h1 {
    text-transform: uppercase;
    font-family: var(--fraunces);
    color: var(--white);
    font-size: clamp(2.5rem, 9vw, 3.5rem);
    letter-spacing: 8px;
}

h2 {
    font-family: var(--fraunces);
    color: var(--very-dark-desaturated-blue);
    font-size: clamp(2rem, 8vw, 2.5rem);
    margin-bottom: 2rem;
    text-align: center;
}

h3 {
    font-family: var(--fraunces);
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-align: center;
}

p {
    font-size: 1.125rem;
    font-family: var(--barlow);
    font-weight: var(--semiBold);
    color: var(--dark-grayish-blue);
    margin-bottom: 2.5rem;
    line-height: 1.8;
    text-align: center;
}

button {
    cursor: pointer;
}

a {
    font-family: var(--fraunces);
    font-size: 1.125rem;
    color: var(--very-dark-desaturated-blue);
    text-decoration: none;
}

.btn {
    position: relative;
    font-family: var(--fraunces);
    font-size: 1rem;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    padding: 0 0.6rem;
    z-index: 1;
}

.btn::after {
    content: "";
    width: 100%;
    height: 10px;
    border-radius: 5px;
    opacity: 0.3;
    position: absolute;
    bottom: -2px;
    left: 0;
    z-index: -1;
    transition: opacity 0.2s ease-out;
}

.btn:hover::after {
    opacity: 1;
}

.btn-yellow::after {
    background-color: var(--yellow);
}

.btn-red::after {
    background-color: var(--soft-red);
}

/* Navbar */
.navbar {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: clamp(5.5rem, 10vw, 8.125rem); /* 88px / 130px */
    padding-inline: clamp(1.25rem, 5vw, 2.375rem); /* 20px / 38px */
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Logo navbar */
.logo-box {
    width: clamp(7.875rem, 15vw, 10.625rem); /* 126px / 170px */
}

.navlink {
    font-family: var(--barlow);
    text-decoration: none;
    color: var(--white);
    margin-inline: 1.5rem;
}

.cta {
    position: relative;
    z-index: 0;
    width: 8.75rem; /* 140px */
    height: 3.5rem; /* 56px */
    background-color: var(--white);
    border: none;
    border-radius: 1.875rem; /* 30px */
    padding: 1.125rem 1rem; /* 18px / 28px */
    margin-inline: 1.25rem; /* 20px */
    text-transform: uppercase;
}

.cta,
.cta a {
    transition: all 0.4s ease-out;
    font-size: 1rem;
}

.cta:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.cta:hover a {
    color: var(--white);
}

.toggle-menu-btn {
    cursor: pointer;
}

.main-container {
    width: 100%;
}

/* Hero */
.hero {
    min-height: 33.625rem; /* 538px */
    position: relative;
}

.hero-title {
    width: 100%;
    padding-inline: 5vw;
    position: absolute;
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
    min-height: 17rem; /* 538px */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero img {
    width: 100%;
    min-height: 33.625rem; /* 538px */
    object-fit: cover;
}

.benefits, .our-team, .services {
    display: flex;
}

.benefits {
    flex-direction: column-reverse;
    align-items: center;
}

.benefits__txt,
.our-team__txt,
.services__design,
.services__photography {
    min-width: 375px;
    max-width: 720px;
    flex-basis: 27.25rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-inline-start: 1.75rem; */
    padding-inline: 0.9rem;
}

.benefits__img, .our-team__img {
    flex-grow: 1;
    max-width: 720px;
    height: auto;
    object-fit: cover;
}

.benefits img, .our-team img {
    width: 100%;
}

.our-team, .services {
    flex-direction: column;
    align-items: center;
}

.services__design,
.services__photography {
    height: 100%;
    min-height: 37.5rem; /* 600px */
    justify-content: end;
    background-position: top center;
}

.services p {
    margin-bottom: 3.5rem;
    font-size: 1rem;
}
.services__design > * {
    color: var(--dark-desaturated-cyan);
}

.services__photography > * {
    color: var(--dark-blue);
}
.services__design {
    background-image: url(./images/desktop/image-graphic-design.jpg);
}
.services__photography {
    background-image: url(./images/desktop/image-photography.jpg);
}

.testimonials {
    min-height: 48.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 3rem;
}

.testimonials h3 {
    text-transform: uppercase;
    font-size: clamp(1rem, 4vw,1.3rem);
    color: var(--grayish-blue);
    letter-spacing: 5px;
    margin-block: 1rem;
}

/* Testimonials */
.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 375px;
    height: 375px;
    padding-inline: 1.5rem;
    /* margin-top: 0.5rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 4.5rem;
    height: auto;
    border-radius: 50%;
    margin-block: clamp(2rem, 8vw, 4rem);
}

.card p {
    margin-bottom: 0;
}

.client {
    margin-block: clamp(1.5rem, 3vw, 4rem);
}

.client-name {
    font-family: var(--fraunces);
    color: var(--very-dark-desaturated-blue);
}

.client-job {
    font-size: 0.9rem;
    color: var(--grayish-blue);
}

/* Gallery */
.design-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.design-gallery img {
    display: flex;
    width: 100%;
    height: auto;
}

/* Attribution */
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (width <= 720px) {
    .benefits {
        flex-direction: column-reverse;
    }
}

@media screen and (width < 1024px) {
    nav {
        perspective: 900px;
    }
    nav .nav-links {
        position: absolute;
        top: 120%;
        left: clamp(1.25rem, 5vw, 2.375rem); /* 20px / 38px */
        right: clamp(1.25rem, 5vw, 2.375rem); /* 20px / 38px */
        height: 19rem; /* 538px */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--white);
        transform-origin: top;
        transform: rotateY(90deg);
        opacity: 0;
        transition: all 0.3s ease-out;
    }

    nav .nav-links.active {
        transform: rotateY(0);
        opacity: 1;
    }

    nav .nav-links::before {
        content: "";
        width: 1.5rem;
        height: 1.5rem;
        background-color: var(--white);
        position: absolute;
        right: 0;
        top: -0.75rem;
        transform: skewY(-45deg);
    }

    nav .navlink {
        color: var(--dark-grayish-blue);
    }

    nav .cta {
        background-color: var(--yellow);
    }
}

@media screen and (width >= 1024px) {
    .toggle-menu-btn {
        display: none;
    }

    .hero-title {
        top: 12.5rem; /* 200px */
    }

    .benefits, .our-team, .services {
        flex-direction: row;
    }

    .benefits__txt, 
    .benefits__img,
    .our-team__txt,
    .our-team__img
    .services__design,
    .services__photography {
        flex-basis: 512px;
        flex-grow: 1;
    }

    .benefits__txt, .our-team__txt {
        /* width: 50%; */
        padding-inline: 6.75rem; /* 108px */ 
    }
    
    .benefits__txt, .our-team__txt {
        align-items: start;
    }

    .benefits__txt h2,
    .benefits__txt p,
    .our-team__txt h2,
    .our-team__txt p {
        text-align: start;
    }

    .services__design,
    .services__photography {
        padding-inline: clamp(6rem, 13.1vw, 11.5rem);
    }

    .services p {
        margin-bottom: clamp(2rem, 5vw, 4rem);
    }

    .card {
        padding-inline: 0.8rem;
        margin-top: 2rem;
    }

    .design-gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (width >= 1200px) {
    .benefits__txt {
        /* width: 50%; */
        padding-inline-start: 10.25rem; /* 164px */
    }

    .our-team__txt {
        padding-right: 10.25rem; /* 128px */
    }

    .our-team__txt h2 {
        margin-bottom: 2rem;
    }
    .our-team__txt p {
        margin-bottom: 2.5rem;
    }
}